@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --bg-color: #120052;
  --foreground: #000000;
  --foreground-secondary: #ededed;
  --btn: #49A5EF;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-btn: var(--btn);
  --bg-primary: var(--bg-color);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}

button {
  border-radius: 40px;
  cursor: pointer;
}

.btn {
  background: var(--color-btn);
  color: var(--foreground-secondary);
}

.sect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(18, 0, 82, .9) 15%, rgba(255, 255, 255, .1));
  z-index: -10;
  pointer-events: none;
}

.chat {
  background: linear-gradient(to bottom, #49A5EF 5%, #FFFFFF);
}

li {
  cursor: pointer;
}

.glassy {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.formDiv::-webkit-scrollbar {
        display: none;
    }